In [68]:
import pandas as pd
import numpy as np
s = pd.Series((1,2,3,4,5))
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [46]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [47]:
s.values

array([1, 2, 3, 4, 5])

In [48]:
a = pd.Series(np.random.rand(3),('a','b','c'))

In [49]:
a.index

Index(['a', 'b', 'c'], dtype='object')

In [50]:
print(a)

a    0.144693
b    0.264876
c    0.054998
dtype: float64

In [51]:
type(a)

pandas.core.series.Series

In [52]:
a.sum()

0.46456694642548568

In [53]:
a.mean()

0.15485564880849523

In [54]:
a = dict(a)

In [55]:
type(a)

dict

In [56]:
a = pd.Series(a)

In [57]:
type(a)

pandas.core.series.Series

In [58]:
print(a)

a    0.144693
b    0.264876
c    0.054998
dtype: float64

In [62]:
a.index

Index(['a', 'b', 'c'], dtype='object')

In [63]:
a.reindex(['b','c','a'])

b    0.264876
c    0.054998
a    0.144693
dtype: float64

In [65]:
a

a    0.144693
b    0.264876
c    0.054998
dtype: float64

In [66]:
a + a

a    0.289385
b    0.529752
c    0.109996
dtype: float64

In [69]:
np.max(a+a)

0.52975211501461938

In [72]:
dataf = pd.DataFrame({'first': a+a,'second': a*a})
dataf

      first    second
a  0.289385  0.020936
b  0.529752  0.070159
c  0.109996  0.003025

In [74]:
dataf.index

Index(['a', 'b', 'c'], dtype='object')

In [76]:
dataf.columns

Index(['first', 'second'], dtype='object')

In [80]:
dataf['three'] = a*a*a

In [81]:
dataf

      first    second     three
a  0.289385  0.020936  0.003029
b  0.529752  0.070159  0.018584
c  0.109996  0.003025  0.000166

In [84]:
type(dataf)

pandas.core.frame.DataFrame

In [86]:
dataf['first']

a    0.289385
b    0.529752
c    0.109996
Name: first, dtype: float64

In [95]:
dataf[:'a']

      first    second     three
a  0.289385  0.020936  0.003029

In [99]:
dataf.second
dataf['second']

a    0.020936
b    0.070159
c    0.003025
Name: second, dtype: float64

In [106]:
dataf.drop('a')

      first    second     three
b  0.529752  0.070159  0.018584
c  0.109996  0.003025  0.000166

In [111]:
dataf.drop('second',axis = 1)

      first     three
a  0.289385  0.003029
b  0.529752  0.018584
c  0.109996  0.000166

In [113]:
dataf.mean()

first     0.309711
second    0.031373
three     0.007260
dtype: float64

In [115]:
dataf.median()

first     0.289385
second    0.020936
three     0.003029
dtype: float64

In [117]:
dataf.info

<bound method DataFrame.info of       first    second     three
a  0.289385  0.020936  0.003029
b  0.529752  0.070159  0.018584
c  0.109996  0.003025  0.000166>

In [119]:
dataf.describe()

          first    second     three
count  3.000000  3.000000  3.000000
mean   0.309711  0.031373  0.007260
std    0.210615  0.034763  0.009911
min    0.109996  0.003025  0.000166
25%    0.199691  0.011980  0.001598
50%    0.289385  0.020936  0.003029
75%    0.409569  0.045548  0.010806
max    0.529752  0.070159  0.018584

In [121]:
dataf.dtypes

first     float64
second    float64
three     float64
dtype: object

In [124]:
dataf.apply(min,axis =1)

a    0.003029
b    0.018584
c    0.000166
dtype: float64